@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}

.wrapper{
  display: flex;
  height: 100vh;
  flex-direction: row;
}

#map {
  width: 100%;
}
#panorama {
  width: 100%;
}
